.add-resume-box {
  padding: 3.5rem 0;
  border: 2px dashed #d1d5db;
  background-color: #f9fafb;
  border-radius: 0.75rem;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.add-resume-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #f3f4f6;
}

.add-icon {
  width: 40px;
  height: 40px;
  color: #6b7280;
}
