.personal-detail-preview {
  /* optional container styles */
}

.name {
  font-weight: 700;
  font-size: 1.7rem; /* text-xl */
  margin-bottom: 0.25rem;
}

.job-title {
  font-size: 1.2rem; /* text-sm */
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.address {
  font-size: 1.2rem; /* text-xs */
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.phone,
.email {
    font-size: 1.2rem;
    font-weight: 800;
}

.divider {
  border-width: 1.5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-style: solid;
}
